# /etc/systemd/system/darksearch-backend-ws.service
[Unit]
Description=DarkSearch WebSocket Backend Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/docker-compose -f /opt/darksearch/docker-compose.yaml up backend-ws db redis
ExecStop=/usr/local/bin/docker-compose -f /opt/darksearch/docker-compose.yaml stop backend-ws db redis
WorkingDirectory=/opt/darksearch
Restart=always
User=yourusername  # Replace with your Google Cloud VM username
EnvironmentFile=/opt/darksearch/.env

[Install]
WantedBy=multi-user.target
