---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: darkseek-backend-mqtt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: darkseek-backend-mqtt
  template:
    metadata:
      labels:
        app: darkseek-backend-mqtt
    spec:
      restartPolicy: Always  # Setting the restart policy to Always
      containers:
      - name: backend-mqtt
        image: gcr.io/${GCP_PROJECT_ID}/darkseek-backend-mqtt:latest
        envFrom:
        - configMapRef:
            name: darkseek-config
        - secretRef:
            name: darkseek-secrets
        livenessProbe:
          exec:
            command: ["test", "-f", "/tmp/mqtt-healthy"]  # Check if the health file exists
          initialDelaySeconds: 60                             # Delay before starting liveness checks
          periodSeconds: 45                                     # Frequency of liveness checks
          failureThreshold: 3                                  # Number of failures before marking the container as unhealthy
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
