---
#  ./k8s/backend-mqtt-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: darkseek-backend-mqtt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: darkseek-backend-mqtt
  template:
    metadata:
      labels:
        app: darkseek-backend-mqtt
    spec:
      restartPolicy: Always  # Setting the restart policy to Always
      containers:
      - name: backend-mqtt
        image: us-central1-docker.pkg.dev/${GCP_PROJECT_ID}/darkseek/darkseek-backend-mqtt:latest
        envFrom:
        - configMapRef:
            name: darkseek-config
        - secretRef:
            name: darkseek-secrets
        livenessProbe:
          exec:
            command: ["cat", "/tmp/mqtt-healthy"]
          initialDelaySeconds: 15                             # Delay before starting liveness checks
          periodSeconds: 10                                     # Frequency of liveness checks
          timeoutSeconds: 5
          failureThreshold: 3                                  # Number of failures before marking the container as unhealthy
        readinessProbe:
          exec:
            command: ["cat", "/tmp/mqtt-healthy"]
          initialDelaySeconds: 5                             # Delay before starting liveness checks
          periodSeconds: 10                                     # Frequency of liveness checks
          timeoutSeconds: 3
          failureThreshold: 3                                  # Number of failures before marking the container as unhealthy
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        volumeMounts:
        - name: mqtt-certs-volume
          mountPath: "/etc/mosquitto/ssl/"  # EXACT match for CERTS_DIR
          readOnly: true
    volumes:
      - name: mqtt-certs-volume
        secret:
          secretName: darkseek-mqtt-certs      
