# configmap.yaml darkseek-backend inst localhost
apiVersion: v1
kind: ConfigMap
metadata:
  name: darkseek-config
data:
  DEFAULT_LLM: "gemma_flash_2.0"
  MQTT_BROKER_HOST: "test.mosquitto.org"
  MQTT_BROKER_PORT: "8885"
  MQTT_TLS: "true"
  WEBSOCKET_URI: "wss://darkseek-backend-ws/ws/"  # Internal service name
  MQTT_URI: "http://darkseek-backend-ws:8000"       # Internal service name
